{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-md-12">
        <h1>{{item.name}}</h1>
        <div class="item">
            <p>{{ item.description }}</p>
        </div>
        <img src="{{ item.picture }}">
        <div class="addanddelete">
            <a href = "{{url_for('editItem',
                    category_name = item.category.name,
                    item_name = item.name)}}">Edit</a> | 
            <a href = "{{url_for('deleteItem',
                    category_name = item.category.name,
                    item_name = item.name)}}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}