{% extends "main.html" %}
{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
{% endblock %}

{% block content %}
{% include "header.html" %}
<!--GOOGLE PLUS SIGN IN -->
<div class="row">
    <div id="signinButton">
        <div class="col-md-6 col-md-offset-3 text-center">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="247816582564-7oosm0tnam23u9qce5l84d5tib9n9gq5.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-acesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" id="result"></div>
</div>

{% block footer %}
<script>
function signInCallback(authResult) {
    if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
        $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                    $('#result').html('<h1>Login Successful!</h1><div>'+ result + '</div><p>Redirecting...</p>')
                    setTimeout(function() {
                        window.location.href = "/catalog";
                        }, 4000);
                } else if (authResult['error']) {
                    console.log('There was an error: ' + authResult['error']);
                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
        }); } }
</script>
{% endblock %}

<!--END GOOGLE PLUS SIGN IN -->
{% endblock %}