{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash.html" %}

<div class="row">
{% include "categories.html" %}

    <div class="col-md-9">
        <h1>Latest Items</h1>
        <div class="list-group">
        {% for item in items %}
            <a href="{{url_for('showItem',
                        category_name = item.category.name,
                        item_name = item.name)}}"
                class="list-group-item item">
                {{ item.name }}
                ({{ item.category.name }})
                <p class="small">Last update: {{ item.date.strftime("%-d-%b-%Y at %I:%M %p") }}</p>
            </a>
        {% endfor %}
        </div>
        <hr>
    </div>
</div>
{% endblock %}