{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash.html" %}

<div class="row">
{% include "categories.html" %}

    <div class="col-md-9">
        <h1>Items ({{count}})</h1>
        <div class="list-group">
        {% for item in items %}
                <a href = "{{url_for('showItem',
                            category_name = item.category.name,
                            item_name = item.name)}}"
                    class="list-group-item item">
                {{ item.name }}</a>
        {% endfor %}
        </div>
        <hr>
        <a href="{{url_for('addCategoryItem',
                    category_name = category)}}" class="btn btn-default">Add Item</a>
    </div>
</div>
{% endblock %}